<% provide(:title, "Home") %>
<!DOCTYPE html>
<head>
    <title>HOME PAGE</title>
    <link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
	<script src="jquery-3.3.1.min.js"></script>
</head>
<body id="body">
    <div class="container">
        <h1 id="mainTitle">COVID STATS</h1>
        <p id="FirstP">Browse through for information related to coronavirus</p>
    </div>
    
    <div class="row">
        <div class="column">
             <a href="/infoUSA">
                <div id="CA">
                    USA
                </div>
            </a>
        </div>
        <div class="column">
             <a href="/infoItaly">
                <div id="CA">
                    Italy
                </div>
            </a>
        </div>
        <div class="column">
            <a href="/infoSpain">
                <div id="CA">
                    Spain
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <a href="/infoGermany">
                <div id="CAl">
                    Germany
                </div>
            </a>
        </div>
        <div class="column">
             <a href="/infoChina">
        <div id="CA">
            China
        </div>
    </a>
        </div>
        <div class="column">
            <a href="/infoFrance">
        <div id="CA">
            France
        </div>
    </a>
        </div>
    </div>
    </div>
   
    
    
   
</body>


