// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#body{
    color: white;
}
#body:after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/UD7CEz6/center-command-control-room-security-aviation-space_41iiu4iv__F0000.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
#mainTitle{
    color: white;
}
#FirstP{
    color: white;
}
#CA{
    margin-left: 5vw;
    margin-top: 6vw;
    margin-right: 14vw;
    padding: 2vw;
    font-size: 3vw;
    color:  black;
    background-color: rgba(255, 255, 255, 1);
}
#CAl{
    margin-left: 5vw;
    margin-top: 6vw;
    margin-right: 8vw;
    padding: 2vw;
    font-size: 3vw;
    color:  black;
    background-color: rgba(255, 255, 255, 1);
}
.column {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}